.container2{
  width: 100%;
  height:50%;
  margin-top: 10%;
  margin-left: 25%;
  position: relative;
  float: left;
}
.tabela{
  /* width: 100%; */
  height:20%;
  /* margin-top: 10%; */
  margin-left: 10%;
  position: relative;
  float: left;

}
.tabela2{
  width: 100%;
  height: auto;
  position: relative;
  margin-right: 5%;
  float: left;
  }
.table{
  width: 50%!important;
}
#janelaUpdate{
  width: 20%;
  height: auto;
  margin-left: 10%;
  position: absolute;
}
